body{
  background-image:url(http://images.mudfooted.com/Proboscis-Monkey.jpg);
  background-size:cover;
}
#Room1{
  width:250px;
  height:250px;
  background-color:pink;
  float:left;
  margin:30px;
  border-radius:10px;
}
#Room2{
  width:250px;
  height:250px;
  background-color:pink;
  float:left;
  margin:30px;
  border-radius:10px;
}
#Room3{
  width:250px;
  height:250px;
  background-color:pink;
  float:left;
  margin:30px;
  border-radius:10px;
}
#Room4{
  width:250px;
  height:250px;
  background-color:pink;
  float:left;
  margin:30px;
  border-radius:10px;
}
